@charset "utf-8";
/* CSS Document */

.container {
	width: 900px;
	margin: auto;
	height: auto;
	background-color:#E8EDDD;
	border-top: solid 5px #CF5A8C;
}

h1 {
	margin-top: 50px;
}

.hello:link {
	color: #529821;
}

.hello:hover {
	color: #8F6415;
	font-family: arial;
	font-size: 16px;
}

li:nth-child(3n-2) a{
	color: #1D8770;
}
li:last-child a{
	color: #7D3D1E;
}
.box {
	width: 500px;
	border-top: 3px solid #CF5A8C;
	border-bottom: 3px solid #CF5A8C;
	border-right: 3px solid #5AC8CF;
	border-left: 3px solid #5AC8CF;
	margin: auto;
	padding: 5px;
	position: relative;
}

.one {
	background-color: #3FB693;
	width: 400px;
	height: 400px;
	position: relative;
	z-index: 1;
}
.two {
	background-color: blueviolet;
	width: 100px;
	height: 300px;
	position: relative;
	right: 30px;
	z-index: 1;
}

.three {
	background-color: khaki;
	width: 500px;
	height: 100px;
	position: absolute;
	top: 20px;
	z-index: 1;
}
.four {
	background-color: darkgray;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 2;
}

.five {
	background-color: #B47070;
	width: 100px;
	height: 300px;
	position:absolute;
	top: 200px;
	left: 300px;
	z-index: 1;
}

.six {
	background-color: #9CEAE5;
	width: 500px;
	height: 700px;
	position: absolute;
	top: 0px;

}

.kotak{
	background-color: black;
	position: fixed;
	top: 100px;
	right: 100px;
	left: 600px;
	bottom: 100px;
	z-index: 1;
	opacity: 0.7;
}

.close {
	width: 30px;
	height: 30px;
	background-color: whitesmoke;
	border: 5px solid black;
	border-radius: 50%;
	position: absolute;
	top: -15px;
	right: -15px;
}

cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
